body {
    background-image: URL("odin-lined.png");
    background-color: darkgoldenrod;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}
h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
}

.content {
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    justify-content: center;
}
